<div class="btn-group btn-group-center" id="breadCrumbButtons">
  <div class="containerBC">
	  <button type="button" class="btn btn-primary" id="homeBC">Homepage</button>
	  <button type="button" class="btn btn-primary" id="gruupUpBC">GruupUp</button>
	  <button type="button" class="btn btn-primary" id="calBC">Calendar</button>
  </div>
</div>