<div class="btn-group btn-group-center" id="breadCrumbButtons">
  <button type="button" class="btn btn-primary" id="homeBC"><img src="images/homeBC.png" alt="Home"/></button>
  <button type="button" class="btn btn-primary" id="gruupUpBC"><img src="images/gruupUpBC.png" alt="Gruup Up"/></button>
  <button type="button" class="btn btn-primary" id="calBC"><img src="images/calBC.png" alt="Calendar"/></button>
</div>