<div class="containerHeader">
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="settings" class="list" data-ajax="false">Settings</a></li>
          <li><a href="help" class="list" data-ajax="false">Help</a></li>
          <li><a href="/" class="list" data-ajax="false">Logout</a></li>
        </ul>
      </div>   
      <h1 id="title"><center>Gruupster</center></h1> 
</div>