<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupster</title>

    {{> css_partials}}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="javascript/breadCrumbs.js"></script>
    <script>
      $(document).ready(function () {
        $("#title").html("About");
      })
    </script> 

</head>

<body>
    {{> main_head}}

    {{> breadCrumbs}}

    <h1>About Us</h1>
    <p> This application was designed and engineered by James, Kenny, and Steven.</p>

    <h3> We would like to thank: </h3>
    <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</body>

</html> 