<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupster</title>

    <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>
    {{> css_partials}}

    <script src="fullcalendar/lib/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="fullcalendar/lib/moment.min.js"></script> 
    <script src="fullcalendar/fullcalendar.js"></script>
    <script src="javascript/breadCrumbs.js"></script>
    <script src="javascript/calendar.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script>
      $(document).ready(function () {
        $("#title").html("Calendar");
      })
    </script>  
    <link href="css/calendar.css" rel="stylesheet"/>
</head>

<body>
  {{> main_head}}
    <div class="btn-group btn-group-justified" id="breadCrumbButtons">
      <button type="button" class="btn btn-primary" id="homeBC"><img src="images/homeBC.png" alt="Home"/></button>
      <button type="button" class="btn btn-primary" id="gruupUpBC"><img src="images/gruupUpBC.png" alt="Home"/></button>
      <button type="button" class="btn btn-primary" id="createEventBC"><img src="images/createEventBC.png" alt="Create Event"/></button>
    </div>
  <hr>

  <div id="calendar"></div>

  {{calendarMessage}}
  <div id="calendarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="eventModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="processEventModal" method="post">
          <div class="modal-header">
            <h1>Event Title: </h1><h2 id="modalTitle"></h2>
            <input type="hidden" name="title" id="hiddenTitle"/>
          </div>
          <div class="modal-body">
            <center>Event will start at: 
            <p id="modalStart"></p>
            <input type="hidden" name="startTime" id="hiddenStart"/>
            <br>
            Event will end at:
            <p id="modalEnd"></p>
            <input type="hidden" name="endTime" id="hiddenEnd"/>

            </center>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <input type="submit" class="btn" value="Delete" name="action">
            <input type="submit" class="btn" value="Edit" name="action">
          </div>  
        </form>
      </div>
    </div>
  </div>  


  
   
</body>

</html>
