<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupers</title>

    <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>

    <script src="fullcalendar/lib/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="fullcalendar/lib/moment.min.js"></script> 
    <script src="fullcalendar/fullcalendar.js"></script>
    <script src="javascript/breadCrumbs.js"></script>
    <script src="javascript/calendar.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <link href="css/calendar.css" rel="stylesheet"/>
</head>

<body>
  {{> main_head}}

  <div class="subContainer">
    <div class="btn-group btn-group-center" id="breadCrumbButtons">
      <div class="container">
        <button type="button" class="btn btn-primary" id="homeBC">Homepage</button>
        <button type="button" class="btn btn-primary" id="gruupUpBC">GruupUp</button>
        <button type="button" class="btn btn-primary" id="createEventBC">Create Event</button>
      </div>
    </div>
    <!--<ol class="breadcrumb">
        <li><a href="homepage">Homepage</a></li>
        <li><a href="gruupUp">GruupUp</a></li>
        <li class="active">Calendar</li>
        <li><a href='editSchedule'>Schedule</a></li>
      </ol>-->
  </div>
  <hr>

  <div id="calendar"></div>

  
   
</body>

</html>
