<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupers</title>

    <link href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" rel="stylesheet"></link>
    <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>

    <script src="fullcalendar/lib/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="fullcalendar/lib/moment.min.js"></script> 
    <script src="fullcalendar/fullcalendar.js"></script>
    <script src="javascript/calendar.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <link href="css/calendar.css" rel="stylesheet"/>
</head>

<body>
    <div class="containerHeader">
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="settings" class="list" data-ajax="false">Settings</a></li>
          <li><a href="help" class="list" data-ajax="false">Help</a></li>
          <li><a href="/" class="list" data-ajax="false">Logout</a></li>
        </ul>
      </div>          
      <h1 id="title"><center>Gruupster</center></h1>  
  </div>

  <div class="subContainer">
    <ol class="breadcrumb">
        <li><a href="homepage">Homepage</a></li>
        <li><a href="gruupUp">GruupUp</a></li>
        <li class="active">Calendar</li>
        <li><a href='editSchedule'>Schedule</a></li>
      </ol>
  </div>
  <hr>

  <div id="calendar"></div>

  
   
</body>

</html>
