<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupster</title>

    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="/resources/demos/style.css" />
    
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="javascript/timepicki.js"></script>
    <script src="javascript/breadCrumbs.js"></script>
    <script src="javascript/createEvent.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script>
      $(document).ready(function () {
        $("#title").html("Create Event");
      })
    </script>    
</head>

<body>
  {{> main_head}}
  <div class="subContainer">
    {{> breadCrumbs}}
    <center>
    <form action="processNewEvent" method="post">      
      <input placeholder="Title" type="text" name="title" value="{{modalTitle}}"/>*

      <input placeholder="Date" type="text" id="datepicker" data-date-format="yyyy-mm-dd" name="date" value="{{modalDate}}"/>* 

      <br>
      <br> 

      <div>
        Start Time
        <input type="text" name="timepickerStart" class="time_element" value="{{modalStartTime}}"/>
        <br>
        End Time
        <input type="text" name="timepickerEnd" class="time_element" value="{{modalEndTime}}"/>
        
        <br>
      </div>
      <input type="submit" value="Submit">
      <input type="button" value="Cancel">
    </form>
    </center> 
  </div>
 
</body>

</html>