<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Event</title>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>
    <link href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" rel="stylesheet"></link>
</head>

<body>
  <div class="container">
    <nav role="navigation" id="first" class="navbar navbar-custom navbar-static-top">
      <li class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-menu-hamburger" style="color:white"></span>   
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="notifications" role="menuitem">Notifications</a></li>
        </ul>
      </li>
      
      <a href="calendar">
        <span class="glyphicon glyphicon-calendar" style="color:white"></span> 
      </a>

      <a href="/">
      <span class="title" style="color:white">
        <center><h1>Gruupster</h1></center>
      </span>
    </a>

    </nav>  
  </div>
  
  <div class="container">

    <h2><center>Create Event</center></h2>
    <form>
        Location:<br>
        <input type="text" name="location">
        <br>
        Description:<br>
        <input type="text" name="description">
        Date:<br>
        <input type="text" name="date">
        <br>
        time:<br>
        <input type="text" name="time">
        <br>
        <input type="submit" value="Submit">
        <input type="submit" value="Cancel">
    </form>
  </div>
 
 	<script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
</body>

</html>
