<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupers</title>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" rel="stylesheet"></link>
    <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>
    <script src="fullcalendar/lib/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
 
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="fullcalendar/lib/moment.min.js"></script> 
    <script src="fullcalendar/fullcalendar.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var day = date.getDay();

            $('#calendar').fullCalendar({
                // put your options and callbacks here
                defaultView: 'basicWeek',
                editable: true,
                weekMode: 'liquid',
                url: '#',
                events: [
                ],
                aspectRatio: 2
            })

        });

    </script>

    <link href="css/calendar.css" rel="stylesheet"/>
</head>

<body>
  <!-- This is the bar that will be at every page -->
  <div class="container">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="Menu" aria-expanded="false">Menu</button>
      <ul class="dropdown-menu" role="menu">
          <li><a href="gruupers" class="list" data-ajax="false">Gruupers</a></li>
          <li><a href="notifications" class="list" data-ajax="false">Notifications</a></li>
          <li><a href="profile" class="list" data-ajax="false">Profile</a></li>
          <li><a href="settings" class="list" data-ajax="false">Settings</a></li>
          <li><a href="help" class="list" data-ajax="false">Help</a></li>
      </ul>
      </div>          
      <a href="calendar" data-ajax="false"><button type="button" id="Calendar">Calendar</button></a>
      <a href="/" id="title" data-ajax="false"><h1><center>Gruupster</center></h1></a> 
           
  </div>

    <hr>

    <div id="calendar"></div>
    
    <hr>
   <script src="bootstrap/js/bootstrap.js"></script>
</body>

</html>
