<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupers</title>

    <link href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" rel="stylesheet"></link>
    <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>

    <script src="fullcalendar/lib/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
 
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="fullcalendar/lib/moment.min.js"></script> 
    <script src="fullcalendar/fullcalendar.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var day = date.getDay();

            $('#calendar').fullCalendar({
                // put your options and callbacks here
                defaultView: 'basicWeek',
                editable: true,
                weekMode: 'liquid',
                url: '#',
                events: [
                ],
                aspectRatio: 2
            })

        });

    </script>

    <link href="css/calendar.css" rel="stylesheet"/>
</head>

<body>
    <!-- This is the bar that will be at every page -->
    <div class="container">
      <a href="#"><button type="button" id="Menu">Menu</button></a>          
      <a href="calendar"><button type="button" id="cal">Calendar</button></a>
      <a href="/" id="title"><h1><center>Gruupster</center></h1></a> 
      <ul>
          <li><a href="gruupers" class="list">Gruupers</a></li>
          <li><a href="notifications" class="list">Notifications</a></li>
          <li><a href="help" class="list">Help</a></li>
      </ul>       
    </div>

    <hr>

    <div id="calendar"></div>
    
    <hr>
   
</body>

</html>
