<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupers</title>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>
    <script src="fullcalendar/lib/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="fullcalendar/lib/moment.min.js"></script> 
    <script src="fullcalendar/fullcalendar.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var day = date.getDay();

            $('#calendar').fullCalendar({
                // put your options and callbacks here
                defaultView: 'basicWeek',
                editable: true,
                weekMode: 'liquid',
                url: '#',
                events: [
                ],
                aspectRatio: 2
            })

        });

    </script>
</head>

<body>
  {{> main_head}}
  <div class="subContainer">
      <ol class="breadcrumb">
          <li><a href="homepage" data-ajax="false">Homepage</a></li>
          <li><a href="gruupUp">GruupUp</a></li>
          <li><a href='calendar'>Calendar</a></li>
          <li class="active">Schedule</li>
        </ol>
    </div>
    <div id="calendar"></div>
    
    <hr>
   <script src="bootstrap/js/bootstrap.js"></script>
</body>

</html>
