<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupers</title>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="javascript/breadCrumbs.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
</head>

<body>

  {{> main_head}}
  <div class="subContainer">
    {{> breadCrumbs}}
  </div>
  <hr>

  <div>
      <form action="processAddFriend" method="post">
          <center>Add Friend: <input type="text" name="addFriend"></center> <hr>
          <center><input type="submit" value="Add"></center>
      </form>
      <div>
        <p>{{addFriendMessage}}</p> 
      </div>    
  </div> 

  {{#each friends}}  
  <div class="myPanel">
      <div class="heading">{{firstname}} {{lastname}}</div>
          <div class="body1">
          </div>
  </div>
  {{/each}}

  
</body>

</html>