<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupers</title>

    <link href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" rel="stylesheet"></link>
    <link href="css/gruupers.css" rel="stylesheet"></link>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>
</head>

<body>

  <!-- This is the bar that will be at every page -->
  <div class="container">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="Menu" aria-expanded="false">Menu</button>
      <ul class="dropdown-menu" role="menu">
          <li><a href="#" class="list" data-ajax="false">Gruupers</a></li>
          <li><a href="notifications" class="list" data-ajax="false">Notifications</a></li>
          <li><a href="profile" class="list" data-ajax="false">Profile</a></li>
          <li><a href="help" class="list" data-ajax="false">Help</a></li>
      </ul>
      </div>          
      <a href="calendar" data-ajax="false"><button type="button" id="Calendar">Calendar</button></a>
      <a href="/" id="title" data-ajax="false"><h1><center>Gruupster</center></h1></a> 
           
  </div>

  <div class="toggle_bar">
      <a href="#"><button type="button" id="groups">Circles</button></a>
      <a href="#"><button type="button" id="friends">Groupers</button></a>  
  </div> 

  <div>
      <form>
          Search:<input type="text" name="Search">
      </form>    
  </div> 

  <!-- List view that has the events for that day -->
  {{#each friends}}
  <div class="events">
    
      <ul class="listviews" data-role="listview">      
          <li data-role="list-divider">{{name}}</li>
              <li data-icon="plus"><a href="http://s3-ec.buzzfed.com/static/2015-02/1/22/enhanced/webdr11/enhanced-4865-1422847728-16.jpg">
                  <img src="images/avengers-14596.jpg">
              </a></li>
      </ul>    
  </div> 
  {{/each}} 

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
</body>

</html>