<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupers</title>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
</head>

<body>

  <!-- This is the bar that will be at every page -->
  <div class="containerHeader">
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="settings" class="list" data-ajax="false">Settings</a></li>
          <li><a href="help" class="list" data-ajax="false">Help</a></li>
          <li><a href="/" class="list" data-ajax="false">Logout</a></li>
        </ul>
      </div>          
      <h1 id="title"><center>Gruupster</center></h1></a>  
  </div>
<div class="subContainer">
  <div class="btn-group btn-group-center">
    <button type="button" class="btn btn-primary">Apple</button>
    <button type="button" class="btn btn-primary">Samsung</button>
    <button type="button" class="btn btn-primary">Sony</button>
  </div>
 </div> 
  <!--<div class="subContainer">
    <ol class="breadcrumb">
        <li><a href="homepage">Homepage</a></li>
        <li><a href="gruupUp">GruupUp</a></li>
        <li><a href='calendar'>Calendar</a></li>
        <li><a href='editSchedule'>Schedule</a></li>
      </ol>
  </div>-->
  <hr>

  <div>
      <form action="processAddFriend" method="post">
          <center>Add Friend: <input type="text" name="addFriend"></center> <hr>
          <center><input type="submit" value="Add"></center>
      </form>
      <div>
        <p>{{addFriendMessage}}</p> 
      </div>    
  </div> 

  {{#each friends}}  
  <div class="myPanel">
      <div class="heading">{{firstname}} {{lastname}}</div>
          <div class="body1">
          </div>
  </div>
  {{/each}}

  
</body>

</html>