<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupster</title>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="javascript/breadCrumbs.js"></script>
    <script src="javascript/deleteFriend.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script>
      $(document).ready(function () {
        $("#title").html("Gruupers");
      })
    </script>  
</head>

<body>

  {{> main_head}}
  <div class="subContainer">
    {{> breadCrumbs}}
  </div>
  <hr>

  <form action="processAddFriend" method="post">
  <div>
      
          <center>Add Friend: <input type="text" name="addFriend"></center> <hr>
          <center><input type="submit" class="btn" value="Add"></center>
      
      <div>
        <p>{{addFriendMessage}}</p> 
      </div>    
  </div> 
  </form>

    <h2> Friends List: </h2>
    {{#each friends}}  
    <div class="myPanel">
        <div class="heading">{{firstname}} {{lastname}} <button class="btn deleteFriend" id="{{email}}">Delete</button>
            <div class="body1">
            </div>
        </div>
    </div>
    {{/each}}
  
</body>

</html>