<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Event</title>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="javascript/calendar.js"></script>
    <script src="javascript/moment.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script>
      $(document).ready(function () {
        $('#datepicker').datepicker();
      });
    </script>
</head>

<body>
  <!-- This is the bar that will be at every page -->
  <div class="containerHeader">
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="settings" class="list" data-ajax="false">Settings</a></li>
          <li><a href="help" class="list" data-ajax="false">Help</a></li>
          <li><a href="/" class="list" data-ajax="false">Logout</a></li>
        </ul>
      </div>          
        <h1 id="title"><center>Gruupster </center></h1> 
  </div>
  
  <div class="subContainer">
    <ol class="breadcrumb">
        <li><a href="homepage">Homepage</a></li>
        <li class="active">GruupUp</a></li>
        <li><a href='calendar'>Calendar</a></li>
        <li><a href='editSchedule'>Schedule</a></li>
      </ol>
    <h2>Gruup Up</h2>
    <form action="processGruupUp" method="post" id="gruupUpForm">

      Select Date
      <input placeholder="Date" type="text" id="datepicker" data-date-format="mm/dd/yyyy" name="date"> *              
      
      <br>

      Select Friends

      {{#each listOfFriends}}
      <div class="checkbox">
        <label><input type="checkbox" name="{{email}}" value="{{email}}">{{firstname}} {{lastname}}</label>
      </div>
      {{/each}}

      <input type="button" value="Submit" id="gruupUpSubmit">
      <input type="button" value="Cancel">
    </form> 
  </div>
 
</body>

</html>