<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupers</title>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="javascript/breadCrumbs.js"></script>
</head>

<body>

{{> main_head}}

<div class="subContainer">
    {{> breadCrumbs}}
    <!--<ol class="breadcrumb">
        <li><a href="homepage">Homepage</a></li>
        <li><a href="gruupUp">GruupUp</a></li>
        <li><a href='calendar'>Calendar</a></li>
        <li><a href='editSchedule'>Schedule</a></li>
      </ol>-->
  </div>
    
 	
</body>

</html>	