<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupster</title>
    {{> css_partials}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="javascript/breadCrumbs.js"></script>
    <script src="javascript/main.js"></script>
    <script>
      $(document).ready(function () {
        $("#title").html("Help");
      })
    </script>  
</head>

<body>

{{> main_head}}

<div class="subContainer">
    {{> breadCrumbs}}
</div>

<div class="tutorialOptions">
	<div>
		<h3>Getting Started</h3>
		<p>Tutorial #1: <a href="tutorialOne">Go</a> </p>
	</div>
	<div>
		<h3>Create Event Assistance</h3>
		<p>Tutorial #2: <a href="tutorialTwo">Go</a> </p>
	</div>
	<div>
		<h3>Add Friend Assistance</h3>
		<p>Tutorial #3: <a href="tutorialThree">Go</a> </p>
	</div>
	<div>
		<h3>GruupUp Assistance</h3>
		<p>Tutorial #4: <a href="tutorialFour">Go</a> </p>
	</div>
</div>    
 	
</body>

</html>	