<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupers</title>

    <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>

    <script src="https://code.jquery.com/jquery.js"></script>

    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="javascript/moment.js"></script>
    <script src="javascript/main.js"></script>

</head>

<body>

{{> main_head}}
<br>

<section class="squares">
  <div class="squareButtonsLeft">  
    <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="createSquare"></span>Gruup Up
  </div>
  <div class="squareButtonsRight">  
    <span class="glyphicon glyphicon-edit" aria-hidden="true" id="editSquare"></span>Create Event
  </div>  
  <div class="squareButtonsLeft">  
    <span class="glyphicon glyphicon-calendar" aria-hidden="true" id="calSquare"></span>Calendar
  </div>  
  <div class="squareButtonsRight">  
    <span class="glyphicon glyphicon-user" aria-hidden="true" id="friendSquare"></span>Friends  
  </div>  
</section>


</div>    
</body>

</html> 