<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupster</title>

    <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>
    {{> css_partials}}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="fullcalendar/lib/moment.min.js"></script> 
    <script src="fullcalendar/fullcalendar.js"></script>
    <script src="javascript/moment.js"></script>
    <script src="javascript/main.js"></script>
    <script>
      $(document).ready(function () {
        $("#title").html("Home");
      })
    </script>  

</head>

<body>
{{> main_head}}

<div id="homePage">
  <br>
  <section class="icon squares" >
        <div class="iconLeft"> 
          <a href = "gruupUp" ><img src="images/GruupUpScheme10.png" class="iconTop" alt="GruupUp Icon"/></a> 
          <a href = "calendar" class="iconBottom"><img src="images/CalendarScheme10.png" alt="Calendar Icon"/></a> 
        </div>
        <div class="iconRight">
          <a href = "createEvent" ><img src="images/CreateEventScheme10.png" class="iconTop" alt="Create Event Icon"/></a>
          <a href = "gruupers" class="iconBottom"><img src="images/GruupersScheme10.png" alt="Gruupers Icon"/></a>
        </div>  
  </section>
</div>
</body>

</html> 