<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupers</title>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <nav class="navbar navbar-inverse">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-menu-hamburger" style="color:white"></span>  
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="notifications" role="menuitem">Notifications</a></li>
            <li><a href="notifications" role="menuitem">Notificationews</a></li>
        </ul>  
      </li>
      <a href="calendar">
        <span class="glyphicon glyphicon-calendar" style="color:white"></span> 
      </a>

      <span class="title" style="color:white">
        <center>GruupFeed</center>
      </span>

    </nav>  
  </div> 

  <div class="today">


  </div>
    <!-- this is a comment in HTML -->
 <!-- First code turn in 
  <nav>
  	<div>
	<div id="navbar">
		<div id="search">
  		Search 
  		</div>
  		<span id="mainTitle">Gruup Feed</span>
  		<div id="writePost">
  		Write Post [+]
  		</div>
  	</div>
	</div>
  </nav>
 
 <section id="section1">
	<div id="button1" class= "choiceButtons">
  	Scheduling
	</div>
	<div id="button2" class= "choiceButtons">
  	Friend's List
	</div>
	<div id="button3" class= "choiceButtons">
  	My Schedul
	</div>
  </section> 
  -->
 	<script src="https://code.jquery.com/jquery.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>o
</body>

</html>
