<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupers</title>
    <link href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" rel="stylesheet"></link>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>
</head>

<body>

  <!-- This is the bar that will be at every page -->
  <div class="container">
      <a href="#"><button type="button" id="Menu">Menu</button></a>          
      <a href="calendar"><button type="button" id="Calendar">Calendar</button></a>
      <a href="/" id="title"><h1><center>Gruupster</center></h1></a> 
      <ul>
          <li><a href="gruupers" class="list">Gruupers</a></li>
          <li><a href="notifications" class="list">Notifications</a></li>
          <li><a href="help" class="list">Help</a></li>
      </ul>       
  </div>

  <!-- This displays the date and month that is currently selected -->
  <div class="today">
      <div class="page-header">
        <h2 id="day"></h2>
        <div class="arrowContainer">
            <a href="#"><img id="arrowLeft" src="images/icon-ios7-arrow-back-128.png"></a>
            <a href="#"><img id="arrowRight" src="images/icon-ios7-arrow-right-128.png"></a>
            <h1 id="month"></h1>
            
        </div>    
        <h1 id="date"></h1>        
          <script type="text/javascript">
            var names = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            var d = new Date();
            document.getElementById("month").innerHTML = names[d.getMonth()];
            document.getElementById("day").innerHTML = days[d.getDay()];
            document.getElementById("date").innerHTML = d.getDate();
          </script>
  </div>

  <!-- This container has the buttons to go to creating an event or editing a user's schedule -->
  <div class="container">
      <div class="scheduling">
          <a href="editSchedule"><button type="button" id="editSched">Edit Schedule</button></a> 
          <a href="createEvent"><button type="button" id="createEvent">GroupUp Event</button></a>
      </div>
  </div>
  
  <!-- List view that has the events for that day -->
  <div class="events">
      <ul class="listviews" data-role="listview">      
          <li data-role="list-divider">February 7, 2015<span class="ui-li-count">+3</span></li>
              <li><a href="http://s3-ec.buzzfed.com/static/2015-02/1/22/enhanced/webdr11/enhanced-4865-1422847728-16.jpg">
                  <h2>Spring Break!</h2>
                  <p><strong>Attending with: Jack, Bob, Anna</strong></p>
              </a></li>

          <li data-role="list-divider">February 6, 2015<span class="ui-li-count">+4</span></li>
              <li><a href="http://s3-ec.buzzfed.com/static/2015-02/1/22/enhanced/webdr11/enhanced-4865-1422847728-16.jpg">
                  <h2>Surprise Kenny with a prank</h2>
                  <p><strong>Event will take place at Atkinson Hall. Attending: Stewart, Michael, Scott, Albert</strong></p>
              </a></li>
      </ul>    
  </div>  
    
 	<script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
</body>

</html>
