<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>
    <link href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" rel="stylesheet"></link>
</head>

<body>
  
  <div class="container">
    <h3><center>LOGO (placeholder)</center></h3>
    <h2><center>Log In</center></h2>
    <form>
        Username:<br>
        <input type="text" name="username">
        <br>
        Password:<br>
        <input type="text" name="password">
        <br>
        <br>
        <input type="button" value="Login">
        <br>
        <br>
        <input type="button" value="Forgot Password">
        <br>
        <br>
        <input type="button" value="Signup">
    </form>
  </div>

 	<script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
</body>

</html>
