<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    {{> css_partials}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
</head>

<body>
  
    <div id="loginBodyColor">
            <div id="containerHeaderLogin">
                <center id="titleLogin">Welcome</center>
                <center id="titleLoginSmaller">TO</center>
            </div>
            <div id="containerHeaderLogin">
                <center><img src="images/newlogo.png" alt="logo"/></center>
            </div>
            <div id="loginPage">
                <br>
                <center id="loginBodyText">LOG IN</center>
                <div class="errMessage">
                    <center>{{errMsg}}</center>
                </div> 
                <form action="/processLogin" data-ajax="false" method="POST">
                    <center id="loginBody">
                        <center id="loginBodySpacing">UCSD Email:</center>
                        <input type="text" name="email">
                        <center id="loginBodySpacing">Password:</center>
                        <input type="password" name="password">
                        <hr width="0">
                        <input type="submit" class="btn btn-login" value="Login">
                        <a href="signup" data-ajax="false"><input type="button" class="btn btn-primary" value="Signup"></a>
                    </center><br>
                </form>
            </div>
    </div>
</body>

</html>
