<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings</title>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>
</head>

<body>
    <!-- This is the bar that will be at every page -->
    <div class="containerHeader">
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="gruupers" class="list" data-ajax="false">Gruupers</a></li>
          <li><a href="notifications" class="list" data-ajax="false">Notifications</a></li>
          <li><a href="profile" class="list" data-ajax="false">Profile</a></li>
          <li><a href="#" class="list" data-ajax="false">Settings</a></li>
          <li><a href="help" class="list" data-ajax="false">Help</a></li>
          <li><a href="/" class="list" data-ajax="false">Logout</a></li>
        </ul>
      </div>          
        <a href="homepage" id="title" data-ajax="false"><h1><center>Gruupster</center></h1></a>  
  </div>

  <div class="subContainer">
    <ol class="breadcrumb">
        <li><a href="homepage">Homepage</a></li>
        <li><a href="gruupUp">GruupUp</a></li>
        <li><a href='calendar'>Calendar</a></li>
        <li><a href='editSchedule'>Schedule</a></li>
      </ol>
  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
</body>
</head>