<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupster</title>
    {{> css_partials}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="javascript/breadCrumbs.js"></script>
    <script>
      $(document).ready(function () {
        $("#title").html("Settings");
      })
    </script>
</head>

<body>
  {{> main_head}}

  <div class="subContainer">
    {{> breadCrumbs}}

  </div>

  
</body>
</head>