<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup</title>
    <link href="css/index.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
</head>

<body>
  <div class="containerHeader">
    <center><img src="images/Gruupster_Logo_2 copy3.png" alt="logo"/></center>
  </div>  
     <div>
        {{errMsg}}
    </div> 
    <form action="/newPost" method="POST">
        <center>
        <hr width="0">
        First Name:<br>
        <input type="text" name="firstname">
        <br>
        Last Name:<br>
        <input type="text" name="lastname">
        <br>
        UCSD Email:<br>
        <input type="text" name="ucsdemail">
        <br>
        Password:<br>
        <input type="password" name="password">
        <br>
        Confirm Password:<br>
        <input type="password" name="confirm_password">
        <hr width="0">
        <input type="submit" class="btn" value="Create">
        <a href="/" data-ajax="false"><input type="button" class="btn" value="Cancel"></a>
    </center>
    </form>
</body>

</html>