<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup</title>
    {{> css_partials}}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
</head>

<body>
  <div id="loginBodyColor">
  <div class="containerHeader">
    <center><img src="images/newlogo.png" alt="logo"/></center>
  </div> 
     <div class="errMessage">
        <center>{{errMsg}}</center>
    </div> 
    <form action="/newPost" method="POST">
        <center id="loginBodyText">SIGN UP</center>
        <center id="loginBody">
        <hr width="0">
        <center id="loginBodySpacing">First Name:</center>
        <input type="text" name="firstname">
        <br>
        <center id="loginBodySpacing">Last Name:</center>
        <input type="text" name="lastname">
        <br>
        <center id="loginBodySpacing">UCSD Email:</center>
        <input type="text" name="ucsdemail">
        <br>
        <center id="loginBodySpacing">Password:</center>
        <input type="password" name="password">
        <br>
        <center id="loginBodySpacing">Confirm Password:</center>
        <input type="password" name="confirm_password">
        <hr width="0">
        <input type="submit" class="btn btn-login" value="Create">
        <a href="/" data-ajax="false"><input type="button" class="btn btn-login" value="Cancel"></a>
    </center>
    </form>
</div>
</body>

</html>