<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>
</head>

<body>
  <div class="container">

    <h3><center>LOGO (placeholder)</center></h3>
    <h2><center>Sign Up</center></h2>
     <div>
        {{errMsg}}
    </div>  
    <form action="/newPost" method="POST">
        First Name:<br>
        <input type="text" name="firstname">
        <br>
        Last Name:<br>
        <input type="text" name="lastname">
        <br>
        UCSD Email:<br>
        <input type="text" name="ucsdemail">
        <br>
        Password:<br>
        <input type="password" name="password">
        <br>
        Confirm Password:<br>
        <input type="password" name="confirm_password">
        <br>
        <input type="submit" value="Create">
        <a href="/" data-ajax="false"><input type="button" value="Cancel"></a>
    </form>

  </div>
 
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
</body>

</html>