<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Gruupster</title>

      <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>
      <link href="css/index.css" rel="stylesheet"></link>
      <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>

      <script src="https://code.jquery.com/jquery.js"></script>
      
      <script src="bootstrap/js/bootstrap.js"></script>
      <script src="javascript/moment.js"></script>
      <script src="javascript/main.js"></script>
      <script>
      $(document).ready(function () {
        $("#title").html("Tutorial 1");
      })
    </script>  
  </head>

<body>

{{> main_head}}
<hr>

<div class="jumbotron">
  <h1><center>Welcome to Gruupster!</center></h1>
  <h3><center>This is an app that makes scheduling for you and your friends a quick and easy process! Start by creating your own schedule and click on "Create Event."</center></h3>
  <p><a class="btn btn-primary btn-lg" href="tutorialTwo" role="button">Create Event</a></p>
</div> <!-- end of jumbotron -->

<section class="squares">
  <div class="squareButtonsLeft">  
    <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="createSquare">Gruup Up
  </div>
  <div class="squareButtonsRight">  
    <span class="glyphicon glyphicon-edit" aria-hidden="true" id="editSquare"></span>Create Event
  </div>  
  <div class="squareButtonsLeft">  
    <span class="glyphicon glyphicon-calendar" aria-hidden="true" id="calSquare">Calendar
  </div>  
  <div class="squareButtonsRight">  
    <span class="glyphicon glyphicon-user" aria-hidden="true" id="friendSquare">Friends  
  </div>  
</section>


</div>    
</body>

</html> 