<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupster</title>

    {{> css_partials}}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="/resources/demos/style.css" />
    
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="javascript/timepicki.js"></script>
    <script src="javascript/main.js"></script>
    <script>
      $(document).ready(function () {
        $("#title").html("Tutorial 2");
        $('#cancelButton').click(function(){
          location.href = "homepage";
        });
        $('#datepicker').datepicker({
          altFormat: "yyyy-mm-dd"
        });
        $(".time_element").timepicki({
          step_size_minutes:30
        });
      });
    </script>
</head>

<body>
  {{> main_head}}
  <div class="subContainer">
    <br>
    <br>
    <div class="jumbotron">
      <div id = "tut_second">
        <h3><center>Create your schedule!</center></h3>
        <p>The way you create your schedule is by filling out the fields below. Once you fill out the fields and hit submit, you will be led to your calendar where you can view the events you added!</p>
      </div>
    </div> <!-- end of jumbotron -->
    <center>
    <form action="processNewEvent" method="post">      
      <input placeholder="Title" type="text" name="title" />*<br>
      <input placeholder="Date" type="text" id="datepicker" data-date-format="yyyy-mm-dd" name="date" />* <br> 

      <br>
      <br>

      Start Time
      <input type="text" name="timepickerStart" class="time_element"/>
      <br>
      End Time
      <input type="text" name="timepickerEnd" class="time_element"/>
      
      <br>
      <input type="submit" class="btn" value="Submit">
      <input type="button" class="btn" value="Cancel" id="cancelButton">
    </form> 
  </center>
  </div>
 
</body>

</html>