
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruupster</title>
    {{> css_partials}}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="javascript/main.js"></script>
    <script>
      $(document).ready(function () {
        $("#title").html("Tutorial 3");
      })
    </script>  
</head>

<body>

  {{> main_head}}

  <hr>

    <div class="jumbotron">
      <div id="tut_second">
        <h3><center>Here's your Gruuper's list!</center></h3>
        <p>Gruuper's is our nickname for your fellow gruupster users! We provided a sample user for you to test creating an event with. Start by typing "test@ucsd.edu" in the text field, and add him!</p>
      </div>
      <div id="tut_first">
        <h1><center>Create a GruupUp!</center></h1>
        <p>Perfect! Now it's time to create your first gruup up, our way of saying "meet up," with your friends.</p>
        <p><a class="btn btn-primary btn-lg" href="tutorialFour" role="button">GruupUp</a></p>
      </div>
      <nav>
        <ul class="pager">
          <li><a id= "tut_previous">Previous</a></li>
          <li><a id= "tut_next">Next</a></li>
        </ul>
      </nav>
    </div> <!-- end of jumbotron -->

    <div>
      <form action="processAddFriend" method="post">
          <center>Add Friend: <input type="text" name="addFriend"></center> <hr>
          <center><input type="submit" value="Add"></center>
      </form>
      <div>
        <p>{{addFriendMessage}}</p> 
      </div>    
  </div> 

  <h2> Friends List: </h2>
  {{#each friends}}  
  <div class="myPanel">
      <div class="heading">{{firstname}} {{lastname}}</div>
          <div class="body1">
          </div>
  </div>
  {{/each}}

  
</body>

</html>