<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Gruupster</title>

      <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>
      <link href="css/index.css" rel="stylesheet"></link>
      <link href="bootstrap/css/bootstrap.css" rel="stylesheet"></link>

      <script src="https://code.jquery.com/jquery.js"></script>
      
      <script src="bootstrap/js/bootstrap.js"></script>
      <script src="javascript/moment.js"></script>
      <script src="javascript/main.js"></script>
      <script>
      $(document).ready(function () {
        $("#title").html("Tutorial 1");
      })
    </script>  
  </head>

<body>

{{> main_head}}
<hr>

<div class="jumbotron">
  <h3><center>Welcome to Gruupster!</center></h3>
  <p><center>This is an app that makes scheduling for you and your friends easy! Start by creating your own schedule and click on "Create Event."</center></p>
  <p><a class="btn btn-primary btn-lg" href="tutorialTwo" role="button">Create Event</a></p>
</div> <!-- end of jumbotron -->

<section class="icon squares" >
      <div class="iconLeft"> 
        <a href = "gruupUp" ><img src="images/GruupUp.png" class="iconTop" alt="GruupUp Icon"/></a> 
        <a href = "calendar" class="iconBottom"><img src="images/Calendar.png" alt="Calendar Icon"/></a> 
      </div>
      <div class="iconRight">
        <a href = "create_event" ><img src="images/Create_Event.png" class="iconTop" alt="Create Event Icon"/></a>  
        <a href = "gruupers" class="iconBottom"><img src="images/Gruupers.png" alt="Gruupers Icon"/></a>
      </div>  
</section>


</div>    
</body>

</html> 