<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Gruupster</title>

      <link href="fullcalendar/fullcalendar.css" rel="stylesheet"/>
      {{> css_partials}}

      <script src="https://code.jquery.com/jquery.js"></script>
      
      <script src="bootstrap/js/bootstrap.js"></script>
      <script src="javascript/moment.js"></script>
      <script src="javascript/main.js"></script>
      <script>
      $(document).ready(function () {
        $("#title").html("Tutorial 1");
      })
    </script>
    {{> woopra_test_script}}  
  </head>

<body>

{{> main_head}}
<hr>

<div class="jumbotron">
  <h3><center>Welcome to Gruupster!</center></h3>
  <p><center>This is an app that makes scheduling for you and your friends easy! Start by creating your own schedule and click on "Create Event."<em>If you skip the tutorial, you can revisit it in the help page.</em></center></p>
  <p><button class="btn btn-primary btn-lg" role="button" id="ceButton">Create Event</button>
   <a href="homepage" role="button" id="skipButton1">Skip Tutorial</a> 
  <button class="btn btn-danger btn-lg" role="button" id="skipButton2">Skip Tutorial</button></p>
</div> <!-- end of jumbotron -->

</div>    
</body>

</html> 