.container{
  background-color: #FF4D4D;
  height: 100%;
}

#title, #title:hover{
  text-decoration: none;
  color: white;
  background-color: #FF4D4D;
}

#Menu{
  width: 20%;
  float: left;
  background-color: #6AC3FF;
  color: white;
  font: helvetica;
  text-decoration: none;
}

#cal{
  width: 20%;
  float: right;
  background-color: #6AC3FF;
  color: white;
  font: helvetica;
  text-decoration: none;
}

#calendar{
  max-width: 900px;
  margin: 0 auto;
}

