

#groups{
	width: 50%;
	float: left;
	background-color: #6AC3FF;
	color: white;
	font: helvetica;
	text-decoration: none;
}

#friends{
	width: 50%;
	float: right;
	background-color: #6AC3FF;
	color: white;
	font: helvetica;
	text-decoration: none;
} 
