.container{
	background-color: #FF4D4D;
}

#title, #title:hover{
	text-decoration: none;
	color: white;
	background-color: #FF4D4D;

}
#Menu{
	width: 20%;
	float: left;
	background-color: #6AC3FF;
	color: white;
	font: helvetica;
	text-decoration: none;
}

#Calendar{
	width: 20%;
	float: right;
	background-color: #6AC3FF;
	color: white;
	font: helvetica;
	text-decoration: none;
}

#groups{
	width: 50%;
	float: left;
	background-color: #6AC3FF;
	color: white;
	font: helvetica;
	text-decoration: none;
}

#friends{
	width: 50%;
	float: right;
	background-color: #6AC3FF;
	color: white;
	font: helvetica;
	text-decoration: none;
} 
