.container{
	background-color: #FF4D4D;
}

#title, #title:hover{
	text-decoration: none;
	color: white;
	background-color: #FF4D4D;
}

#Menu, #editSched{
	width: 20%;
	float: left;
	background-color: #6AC3FF;
	color: white;
	font: helvetica;
	text-decoration: none;
}

#Calendar, #createEvent{
	width: 20%;
	float: right;
	background-color: #6AC3FF;
	color: white;
	font: helvetica;
	text-decoration: none;
}

#day, #date, #month{
	text-align: center;
}

#arrowLeft{
	float: left;
	width: 5%;
	height: 5%;
}

#arrowRight{
	float: right;
	width: 5%;
	height: 5%;
}
