body{
	border: 0;
	max-width: 800px;
	min-width: 300px;
	margin: 0 auto;
}
.containerHeader{
	width: 100%;
	background-color: #1F555D;
	padding: 20px;

}
.subContainer{
	width: 100%;
	height: 50px;
	display: inline;
}

.squares{
	padding: 50px;
	display: inline-block;
	background-image: url('../images/gathering.jpg');
	opacity: .6;
	background-repeat: no-repeat;
	z-index: 50;
}

.squareButtonsLeft, .squareButtonsRight{
	background-color: white;
	height: 0;
	width: 40%;
	border-width: 5px;
	border-radius: 5px;
	border-color: #1F555D;
	border-style: solid;
	padding-bottom: 40%;
	margin-bottom: 10%;
	z-index: 80;
}

.squares p{
	font-size: 25px;
}
.squareButtonsRight{
	float: right;
}

.squareButtonsLeft{
	float: left;	
}

.squares .glyphicon{
	font-size: 100px;
}

#createSquare, #calSquare{
	
	display: inline-block;
	vertical-align: bottom;
	float: left;
}

#editSquare, #friendSquare{

	display: inline-block;
	vertical-align: bottom;
	float: right;
}
#title, #title:hover{
	text-decoration: none;
	color: white;
	background-color: #FF4D4D;
}

#editSched{
	width: 20%;
	float: left;
	background-color: #6AC3FF;
	color: white;
	font: helvetica;
	text-decoration: none;
}

#Calendar, #createEvent{
	width: 20%;
	float: right;
	text-decoration: none;
}

#friends{
	width: 50%;
	float: left;
	margin: 10px 0 10px 0;
	background-color: #1F555D;
	color: white;
	font: helvetica;
	text-decoration: none;
} 

#groups{
	width: 50%;
	float: right;
	margin: 10px 0 10px 0;
	background-color: #1F555D;
	color: white;
	font: helvetica;
	text-decoration: none;
}

.toggle_bar {
	border: 1px solid #1F555D;
}

.myPanel:hover {
	box-shadow: 0px 0px 8px #333;
	border: 2px solid #687D6D;
}

.myPanel {
	border: 1px solid #687D6D;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 4px #ccc;
	margin: 3%;
}

.myPanel .heading {
	background: #1F555D;
	border-radius: 5px 5px 0 0;
	color: white;
	padding: 10px 20px;
}

.myPanel .body {
	padding: 10px 20px;
}

.myPanel:hover {
	box-shadow: 0px 0px 8px #333;
	border: 2px solid #687D6D;
}

