body{
	border: 0;
	max-width: 800px;
	min-width: 300px;
	margin: 0 auto;
}
.containerHeader{
	width: 100%;
	background-color: #1F555D;
	padding: 20px;

}

#title, #title:hover{
	text-decoration: none;
	color: white;
}
.subContainer{
	width: 100%;
	height: 50px;
	display: inline;
}

.squares{
	padding: 3%;
	display: inline-block;
	opacity: .6;
	background-repeat: no-repeat;
	z-index: 50;
}


.squareButtonsLeft, .squareButtonsRight{
	background-color: white;
	height: 0;
	width: 40%;
	border-width: 5px;
	border-radius: 5px;
	border-color: #1F555D;
	border-style: solid;
	padding-bottom: 40%;
	margin-bottom: 20%;
	z-index: 80;
}

.squares p{
	font-size: 25%;
}
.squareButtonsRight{
	float: right;
}

.squareButtonsLeft{
	float: left;	
}

.squares .glyphicon{
	font-size: 275%;
	margin-right: 10%;
}


#createSquare, #calSquare{
	padding: 50%;
	display: inline-block;
	vertical-align: bottom;
}

#editSquare, #friendSquare{
	padding: 50%;
	display: inline-block;
	vertical-align: bottom;
}

#editSched{
	width: 20%;
	float: left;
	background-color: #6AC3FF;
	color: white;
	font: helvetica;
	text-decoration: none;
}

#Calendar, #createEvent{
	width: 20%;
	float: right;
	text-decoration: none;
}

#friends{
	width: 50%;
	float: left;
	margin: 10px 0 10px 0;
	background-color: #1F555D;
	color: white;
	font: helvetica;
	text-decoration: none;
} 

#groups{
	width: 50%;
	float: right;
	margin: 10px 0 10px 0;
	background-color: #1F555D;
	color: white;
	font: helvetica;
	text-decoration: none;
}

.toggle_bar {
	border: 1px solid #1F555D;
}

.myPanel:hover {
	box-shadow: 0px 0px 8px #333;
	border: 2px solid #687D6D;
}

.myPanel {
	border: 1px solid #687D6D;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 4px #ccc;
	margin: 3%;
}

.myPanel .heading {
	background: #1F555D;
	border-radius: 5px 5px 0 0;
	color: white;
	padding: 10px 20px;
}

.myPanel .body {
	padding: 10px 20px;
}

.myPanel:hover {
	box-shadow: 0px 0px 8px #333;
	border: 2px solid #687D6D;
}


.ti_tx,
.mi_tx,
.mer_tx {
	width: 100%;
	text-align: center;
	margin: 10px 0;
}

.time,
.mins,
.meridian {
	width: 60px;
	float: left;
	margin: 0 10px;
	font-size: 20px;
	color: #2d2e2e;
	font-family: arial;
	font-weight: 700;
}

.prev,
.next {
	cursor: pointer;
	padding: 18px;
	width: 28%;
	border: 1px solid #ccc;
	margin: auto;
	background: url(../images/arrow.png) no-repeat;
	border-radius: 5px;
}

.prev:hover,
.next:hover {
	background-color: #ccc;
}

.next {
	background-position: 50% 150%;
}

.prev {
	background-position: 50% -50%;
}

.time_pick {
	position: relative;
}

.timepicker_wrap {
	padding: 10px;
	border-radius: 5px;
	z-index: 998;
	display: none;
	box-shadow: 2px 2px 5px 0 rgba(50,50,50,0.35);
	background: #f6f6f6;
	border: 1px solid #ccc;
	float: left;
	position: absolute;
	top: 27px;
	left: 0;
}

.arrow_top {
	position: absolute;
	top: -10px;
	left: 20px;
	background: url(images/top_arr.png) no-repeat;
	width: 18px;
	height: 10px;
	z-index: 999;
}
input.timepicki-input {
	background: none repeat scroll 0 0 #FFFFFF;
    	border: 1px solid #CCCCCC;
    	border-radius: 5px 5px 5px 5px;
    	float: none;
    	margin: 0;
    	text-align: center;
    	width: 70%;
}
a.reset_time {
	float: left;
	margin-top: 5px;
	color: #000;
}
.containerBC{
	width: 100%;
	margin-left: 10%;
}

#homeBC, #gruupUpBC, #calBC, #createEventBC{
	font-size: inherit;
	font-family: inherit;
	width: 32%;
	font-color: white;
	background-color: #009999;
}
a{
	color: inherit;
    text-decoration: none;
}
a:hover 
{
     color:inherit; 
     text-decoration:none; 
     cursor:pointer;  
}
